{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Bienvenue {% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}



<div>

    <img src="{{asset('assets/images/aliment.jpg')}}" class="d-block w-100" alt="...">

</div>

<!-- Welcome -->
	<section class="section-welcome p-t-120 p-b-105">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-t-45 p-b-30">
					<div class="wrap-text-welcome t-center">
						<span class="tit2 t-center">
							Frigomatic
						</span>

						<h3 class="tit3 t-center m-b-35 m-t-5">
							Bienvenue
						</h3>

						<p class="t-center m-b-22 size3 m-l-r-auto">
							Frigomatic vous permet de gérer et d'organiser toute la partie alimentaire de votre foyer.
						</p>
							
					</div>
				</div>

				<div class="col-md-6 p-b-30">
					<div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
						<img src="{{asset('assets/images/frig.jpg')}}" alt="IMG-OUR">
					</div>
				</div>
			</div>
		</div>
    </section>

    <!-- Sign up -->
	<div class="section-signup bg1-pattern p-t-85 p-b-85">
		<form class="flex-c-m flex-w flex-col-c-m-lg p-l-5 p-r-5">
			<span class="txt5 m-10 text-center">
                Inscrivez vous <br> Pour recevoir des astuces <br> et suivre notre actualité
			</span>

			<div class="wrap-input-signup size17 bo2 bo-rad-10 bgwhite pos-relative txt10 m-10">
				<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="Votre adresse mail" placeholder="Email Adrress">
				<i class="fa fa-envelope ab-r-m m-r-18" aria-hidden="true"></i>
			</div>

			<!-- Button3 -->
			<button type="submit" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">
				inscription
			</button>
		</form>
	</div>
    
{# Affichage de la page et des bouton d'inscription et connexion avec lien vers modals #}    
					
{# MODAL - Affichage du formulaire de connexion #}
<section class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            {# Formulaire #}
            <article class="container">
                <form action="{{ path('app_login') }}" method="post">
                    {% if error is defined and error%}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                    {% endif %}
                    
                    <h3 class=" modal-title text-center mt-2">Connexion</h3>
                    <hr>
                  
                    <label for="inputUsername" class="sr-only">Votre identifiant</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                        placeholder="Votre identifiant" required autofocus>
                    <label for="inputPassword" class="sr-only">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control my-3"
                        placeholder="Mot de passe" required>
                    <input type="checkbox" onclick="myFunction()"> Voir mon mot de passe

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div> #}
                 <hr>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-outline-dark m-4">Connexion</button>
                    </div>
                </form>
            </artcile>
        </div>
    </div>
</section>

{# MODAL - Affichage du formulaire d'inscription #}
<section class="modal fade" id="inscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <article class="container">
                <h3 class=" modal-title text-center mt-2">Inscription</h3>
                <hr>
                {{form_start(form)}}
                {{form_widget(form)}}
                <hr>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-outline-dark mb-5">S'inscrire</button>
                    </div>
                
                {{form_end(form)}}
            </article>
        </div>
    </div>
</section>
{% endblock %}

{# Balise JavaScript pour l'affichage des modals #}
{% block javascripts %}
    {# Affichage des fenêtre modal #}
    <script src="{{ asset('bundles/sideclickbootstrapmodal/js/sideclick-bootstrap-modal.js') }}"></script>

    {# Script d'affichage du mot de passe #}
    <script>
    function myFunction() {
    var x = document.getElementById("inputPassword");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
    }
    </script>
{% endblock %}
