{% extends 'base.html.twig' %}

{% block title %}Hello RecipeProductController!{% endblock %}
{% block stylesheets %}  <link rel="stylesheet" href="{{asset('assets/css-frigo/app-home.css')}}"> {% endblock %}

{% block body %}
<div class="row">

<article class="jumbotron">
    <div id="recipe-head">
        <h1>
            {{ recipe.name }}
        </h1>
    </div>
    <div class="recipe-content">
        
        {# Affichage des tags#}
        {% for tag in recipe.tag %}
            <a href="{{path('app_recipe_tag', {'id':tag.id})}}"><span class="badge badge-info">{{ tag.name }}</span></a>
        {% endfor %}
        <div class="row mt-3">
            <section class='col'>
                <p class="card-text">
                    Personnes : {{ recipe.people }} <i class="fa fa-spoon" aria-hidden="true"></i>  |  Difficulté :
                    {% for i in 1..recipe.level %}
                    <i class="fa fa-bolt" aria-hidden="true" style="color: orange;"></i>
                    {% endfor %}  |  Temps total : {{ recipe.totalDuration }} minutes  |  Temps de préparation : {{ recipe.prepDuration }} minutes  |  Temps de cuisson : {{ recipe.bakingDuration }} minutes</p>
                <div class="my-3">
                    <p>Liste des ingrédients :</p>
                    <ul>
                        {% for product in recipeProducts %}
                        <li>{{ product.product }} - {{ product.quantity }} {{ product.product.measure}}(s)</li>
                        {% endfor %}
                    </ul>
                </div>
                <p>{{ recipe.content }}</p>
                <p class="mr-3"><img class="img-recette" src="{{asset('assets/images/imagesRecipe/' ~ recipe.image)}}"
                        alt="Image de la recette {{ recipe.name }}"></p>
            </section>


        <aside class="mx-5">
            <h2>Ajouter des produits à la recette :</h2>

            {{form_start(form)}}
            {{form_widget(form)}}
            <button type="submit" class="btn btn-primary bg-dark">Ajouter ce produit</button>
            {{form_end(form)}}


            <a href="{{ path('app_recipe_show', {'slug': recipe.slug}) }}" class="btn btn-primary bg-dark mt-2">Terminer la
                recette</a>
        </aside>
</article>


{% endblock %}
