{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Acceuil {% endblock %}
{% block stylesheets %}  <link rel="stylesheet" href="{{asset('assets/css-frigo/app-home.css')}}"> {% endblock %}

{% block body %}
<h1 class="text-center my-4">Aux fourneaux <span id="user-name">{{ app.user.firstname }}</span> !</h1>
{# Objectif : afficher s'il y en a, les recettes trier par Entrée, Plat, Dessert #}
{# On boucle sur les tags seulement si == Entrée, Plat ou dessert #}
{% for tag in tags if tag == 'Entrée' or tag == 'Plat' or tag == 'Dessert'%}
    {# On boucle sur les recettes #}
    {% for recipe in recipes %}
        {# On boucle sur les tags (rtag) d'une recette si celui-ci correspond au tag en cours#}
        {% for rtag in recipe.tag if rtag == tag.name %}
            <h5 class=" mb-3">Voici quelques <span style="color:red;">{{ rtag.name }}</span> que vous pouvez réaliser avec ce que vous avez dans votre frigo : </h5>
            <article class="row">
                {# On affiche la / les recette(s) correspondante(s) #}
                {% include 'utils/recipe-card.html.twig' %}
            </article>
        {% endfor %}
    {% endfor %}
{% endfor %}

    <article>
        <h5 class=" mb-3">Voici les aliments les plus ancien de votre frigo ! (uniquement : Fruit et légume, Produit laitier, Viande
            poisson oeuf) Pourquoi ne pas les manger aujourd'hui ?</h5>
      
            <p>Liste des produit avec le createdAt le plus ancien -> lien vers la page recette avec le tri par produit
            correspondant</p>
    </article>
                
    <article>
        
        <h5 class=" my-3">Ce que vous avez d'autre dans votre Frigo ...</h5> 
        <p>affichage des produits du frigo</p> 
    
       
  
    </article>
<div class="text-center">
    <a class="btn btn-success mb-5" href="{{ path('app_userProduct_home') }}">Aller dans mon frigo</a>         
</div>
{% endblock %}
