{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Acceuil {% endblock %}

{% block body %}
<h1>Bienvenue {{ app.user.firstname }}</h1>

<h2>Voici quelques recettes que vous pouvez réaliser avec ce que vous avez dans votre frigo </h2>
{{ dump(recipes) }}
        {% for recipe in recipes %}

        <div class="col-3 mb-3 ">
            
            <div class="card" >
                <a href="{{ path('app_recipe_show', {'slug':recipe.slug}) }}">
                    <img src="{{recipe.image }}"  class="card-img-top" alt="">
                </a>
                <div class="card-body">
                    <h5 class="font-weight-bold">{{recipe.name}}</h5>
                    <p class="card-text"> Difficulté :
                        {% for i in 1..recipe.level %}
                            <i class="fas fa-utensil-spoon"></i>
                        {% endfor %}
                    </p>
                    <p class="card-text"> Personnes :
                        {% for i in 1..recipe.people %}
                            <i class="fas fa-utensil-spoon"></i>
                        {% endfor %}
                    </p>
                    {# Affichage des tags #}
                    <p>
                    {% for tag in recipe.tag %}
                    <a href="{{path('app_recipe_tag', {'id':tag.id})}}"><span class="badge badge-info">{{ tag.name }}</span></a>
                    {% endfor %}
                    </p>
                </div>
            </div>
            
        </div>
        

        {% endfor %}

<h2>Voici les aliments les plus ancien de votre frigo ! (uniquement : Fruit et légume, Produit laitier, Viande poisson oeuf) Pourquoi ne pas les manger aujourd'hui ?</h2>
<p>Liste des produit avec le createdAt le plus ancien -> lien vers la page recette avec le tri par produit correspondant</p>

<h2>Ce que vous avez d'autre dans votre Frigo ...</h2>
<p>affichage des produits du frigo</p>
<a href="{{ path('app_userProduct_home') }}">Aller dasn mon frigo</a>
{% endblock %}
