{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon Frigo {% endblock %}

{% block body %}
<div class="container">
<h1>Bienvenue : {{ app.user.firstname }} </h1>
<img style="width: 5rem; border-radius:50%;" src="{{app.user.avatar}}" alt="">

<h2>Voici tous les produits que tu possèdes dans ton frigo :</h2>
<ul>
{% for userProduct in app.user.userproducts %}
<li>
    {{ userProduct.product }} - quantité : {{ userProduct.quantity }} {{ userProduct.product.measure }}
    <form class="d-inline" method="post" action="{{ path('app_userProduct_delete', {'id': userProduct.id}) }}"
        onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette userProduct ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ userProduct.id) }}">
        <button class="btn" style="color:red"><i class="fas fa-times-circle"></i> Supprimer</button>
    </form>
</li>
{% endfor %}
</ul>

<h2>Ajouter des produit à mon frigo :</h2>

    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-primary bg-dark">Ajouter</button>
    {{form_end(form)}}




{# <label for="product-choice">Ajouter :</label>
<input list="all-products" id="product-choice" name="product-choice" />

<datalist id="all-products">
    {% for product in allProducts %}
        <a href="{{ path('app_userProduct_add', {'id': product.id}) }}"><option value="{{ product }}"></a>
    {% endfor %}
</datalist> #}
</div>
{% endblock %}
