{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon Frigo {% endblock %}
{% block stylesheets %}  <link rel="stylesheet" href="{{asset('assets/css-frigo/app-home.css')}}"> {% endblock %}

{% block body %}
<div class="row">
<section class="col-8">
<h2>Voici tous les produits que tu possèdes dans ton frigo :</h2>

<article class="row" id="all-frigo">
    {% for category in categories %}
    <div class="card m-1" style="width: 22rem">
        <div id="product-list-head" class="product-list-head-{{ category.id }}">
            <h3>{{ category.name }}</h3>
        </div>
        <ul class="list-group" id="frigo-product">
            {% for userProduct in app.user.userproducts %}
                {% if userProduct.product.category.id == category.id %}
                <li class="list-group-item">
                    <span class="product-quantity">{{ userProduct.quantity }}</span> - {{ userProduct.product }}
                    <a href="{{ path('app_userProduct_add', {'id': userProduct.product.id, 'action': 'add'}) }}" style="color: green;" class="js-add"> +1</a>
                    <a href="{{ path('app_userProduct_add', {'id': userProduct.product.id, 'action': 'remove'}) }}" style="color: red;" class="js-remove"> -1</a>
                   
                    <form class="d-inline" method="post" action="{{ path('app_userProduct_delete', {'id': userProduct.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ userProduct.id) }}">
                        <button class="btn" style="color:red"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </form>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</article>
</section>
<aside class="col-4 text-center">
<h1>Ajouter</h1>

    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-primary bg-dark">Ajouter</button>
    {{form_end(form)}}
</aside>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        {# Axios pour faire +1 un produit #}
        function onClickBtnAdd(event){
            event.preventDefault();
            const url = this.href;

            const spanProductQuantity = event.target.previousElementSibling;

            axios.get(url).then(function(response) {
                spanProductQuantity.textContent = response.data.quantity;
                console.log(response.data.message);
            })
        }

        document.querySelectorAll('a.js-add').forEach(function (link) {
            link.addEventListener('click', onClickBtnAdd);
        })

        {# Axios pour faire -1 un produit #}
        function onClickBtnRemove(event){
            event.preventDefault();
            const url = this.href;

            const spanProductQuantity = event.target.previousElementSibling.previousElementSibling;

            axios.get(url).then(function(response) {
                spanProductQuantity.textContent = response.data.quantity;
                console.log(response.data.message);
            })
        }

        document.querySelectorAll('a.js-remove').forEach(function (link) {
            link.addEventListener('click', onClickBtnRemove);
        })

    </script>
{% endblock %}

