{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon Frigo {% endblock %}

{% block body %}
<div class="container">
<h1>Ajouter des produit à mon frigo :</h1>

    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-primary bg-dark">Ajouter</button>
    {{form_end(form)}}

<h2>Voici tous les produits que tu possèdes dans ton frigo :</h2>

<article class="row">
    {% for category in categories %}
    <div class="card m-1" style="width: 15rem">
        <img src="http://lorempixel.com/200/100/food/{{ category.id }}" class="m-0" alt="...">
            <h3>{{ category.name }}</h3>
            <ul class="list-group">
                {% for userProduct in app.user.userproducts %}
                    {% if userProduct.product.category.id == category.id %}
                    <li class="list-group-item">
                        {{ userProduct.product }} - {{ userProduct.quantity }}
                        <form class="d-inline" method="post" action="{{ path('app_userProduct_delete', {'id': userProduct.id}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ userProduct.id) }}">
                            <button class="btn" style="color:red"><i class="fas fa-times-circle"></i></button>
                        </form>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
    </div>
    {% endfor %}
</article>
</div>
{% endblock %}
