{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Recettes {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/recipe.css') }}">{% endblock %}

{% block body %}
<h1 class="my-5">Toutes les recettes</h1>
<div class="row">
    <aside class="col-2">
        <h2>Les tags</h2>
        {% for tag in tags %}
        <a href="{{path('app_recipe_tag', {'id': tag.id})}}"><span class="badge badge-info">{{ tag.name }}</span></a>
        </br>
        {% endfor %}
    </aside>
    <section class="col-10">
    <h2>Les recettes</h2>
        <article class="row">
            
            {# Ajouter une recette #}
            <div class="col-3 mb-3 ">
                <div class="card">
                    <a href="{{ path('app_recipe_new') }}">
                        <div style="overflow: hidden; height: 200px">
                            <img src="{{asset('assets/images/imagesRecipe/image-of-recipe-new.jpg')}}"
                                class="card-img-top" alt="" style="height: 200px; width: auto;">
                        </div>
                    </a>
                    <div class="card-body" style="height: 225px">
                        <h5 class="font-weight-bold">Votre recette</h5>
                        <a href="{{ path('app_recipe_new') }}" class="btn btn-success m-t-70">Ajouter une recette</a>
                    </div>
                </div>
            </div>

            {# Toutes les recettes #}
            {% for recipe in recipes %}

            {% include 'utils/recipe-card.html.twig' %}

            {% endfor %}
        </article>
    </section>
</div>


{% endblock %}