{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | recettes {% endblock %}
{% block stylesheets %}  <link rel="stylesheet" href="{{asset('assets/css-frigo/app-home.css')}}"> {% endblock %}

{% block body %}
    <h1>Creer une nouvelle recette</h1>

    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-primary bg-dark">Ajouter des ingrédients</button>
    {{form_end(form)}}

{% endblock %}