{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ recipe.name }} {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/recipe.css') }}">{% endblock %}

{% block body %}
<article class="container">
    <h1>{{ recipe.name }}</h1>
    {# Affichage des tags#}
    {% for tag in recipe.tag %}
    <a href="{{path('app_recipe_tag', {'id':tag.id})}}"><span class="badge badge-info">{{ tag.name }}</span></a>
    {% endfor %}

    {# A transformer en étoile du style github -> star ou unstar #}
    {% if isFav %}
    <a href="{{ path('app_recipe_delete_fav', {'id': recipe.id}) }}" class="btn btn-success mt-2">Supprimer des favorits</a>
    {% else %}
    <a href="{{ path('app_recipe_add_fav', {'id': recipe.id}) }}" class="btn btn-success">Ajouter à mes recettes favorites</a>
    {% endif %}


    <div class="row">
        <section class='col'>
            <p class="card-text"> Personnes :
                {% for i in 1..recipe.people %}
                    <i class="fas fa-utensil-spoon"></i>
                {% endfor %}
            </p>
            <p>Difficulté : 
                {# ajout de cuillere dans un 'for' on recuperer la difficulté qui est un chiffre, et chaque fois que l'on rentre dans le for on rajoute une cuillere, exemple si la difficulté est de 5, on boucle 5 fois et chaque fois que l'on boucle on ajoute une cuillere, cad qu'il aurait 5 cuilleres #}
                {% for i in 1..recipe.level %}
                    <i class="fas fa-utensil-spoon"></i>
                {% endfor %}
            </p>
            <p>temps total : {{ recipe.totalDuration }} minutes</p>
            <p>temps de préparation : {{ recipe.prepDuration }} minutes</p>
            <p>temps de cuisson : {{ recipe.bakingDuration }} minutes</p>
            <p><img src="{{asset('assets/images/imagesRecipe/' ~ recipe.image)}}" alt="Image de la recette {{ recipe.name }}"></p>
            <p>dernière modification : {{ recipe.updatedAt|date("d/m/Y") }}</p>
            <div>
                <p>Liste des ingrédients :</p>
                <ul>
                {% for product in recipeProducts %}
                    <li>{{ product.product }} - {{ product.quantity }} {{ product.product.measure}}(s)</li>
                {% endfor %}
                </ul>
            </div>
            <p>{{ recipe.content }}</p>
        </section>

    </div>
    <a href="#" class="btn btn-success">J'ai réalisé cette recette (enlever les ingrédients correspondant de mon
        Frigo)</a>

</article>
{% endblock %}