<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    {# Lien Bootstrap CSS #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {# Lien GoogleFont #}
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto&display=swap" rel="stylesheet">
    {# Lien FontAwsome #}
    <script src="https://kit.fontawesome.com/e280f9e8fb.js"></script>
    {# Lien vers le fichier css de l'application #}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <title>{% block title %}Frigomatic {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <header>
        {# Navigation accéssible seukement si l'utilisateur est connecté #}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            {% if app.user %}
            <a class="brand" href="{{path('app_home')}}">Frigomatic </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {#active#}">
                        <a href="{{path('app_home')}}">Accueil<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{path('app_userProduct_home')}}">Mon frigo</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{path('app_recipe_home')}}">Recettes</a>
                    </li>
                </ul>

                {# DropDown de la partie profil de l'utilisateur #}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Mon Profil</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('app_user_home') }}">Mon profil</a>
                            <a class="dropdown-item" href="{{ path('app_user_recipe') }}">Mes recettes</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('app_logout') }}" class="dropdown-item" style="color:red">Déconnexion</a>
                        </div>
                    </li>
                </ul>
                {% else %}
                {# Si l'utilisateur n'est pas connecté (visiteur) pas de navigation mais le logo de Frigomatic #}
                <a class="brand m-auto text-white" stylehref="{{ path('app_home') }}">Frigomatic </a>
                {% endif %}


            </div>
        </nav>
    </header>
    {# Affichage des messages flash de l'application en fonction d'un label #}
    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="container text-center m-3 alert alert-{{ label }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endfor %}

    {# Bloc Body à remplir dans les templates enfants #}
    {% block body %}{% endblock %}

    {# SCRIPT #}
    {% block javascripts %}{% endblock %}
    {# Script JQuery #}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>

    {# Script BootStrap #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    {# Script Personnel #}
    <script src="{{ asset('assets/js/app.js') }}"></script>

</body>

</html>