<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    {# Lien Bootstrap CSS #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {# Lien GoogleFont #}
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    {# Lien FontAwsome #}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/main.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css-frigo/style.css') }}">

    <title>{% block title %}Frigomatic {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <!-- Header -->
    <header class="noprint">
        <!-- Header desktop -->
        <div class="wrap-menu-header gradient1 trans-0-4 mb-5  " {% if app.user %} style="position: relative;" {% endif %}>
            <div class="container h-full">
                <div class="wrap_header trans-0-3">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="{{path('app_home')}}">
                            <img src="{{asset('assets/images/logo.png')}}" alt="Logo-frigomatic">
                        </a>
                    </div>
                    {% if app.user %}

                    <!-- Menu -->
                    <div class="wrap_menu p-l-45 p-l-0-xl">
                        <nav class="menu">
                            <ul class="main_menu">
                                <li>
                                    <a href="{{path('app_home')}}">Accueil</a>
                                </li>

                                <li>
                                    <a href="{{path('app_userProduct_home')}}">Mon frigo</a>
                                </li>

                                <li>
                                    <a href="{{path('app_recipe_home')}}">Recettes</a>
                                </li>
                                {# DropDown de la partie profil de l'utilisateur #}
                                <ul class="navbar-nav ml-auto main_menu">
                                    <li class="nav-item dropdown">
                                        <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.firstname }}</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{{ path('app_user_home') }}">Mon profil</a>
                                            <a class="dropdown-item" href="{{ path('app_user_recipe') }}">Mes recettes</a>
                                            <a class="dropdown-item" href="{{ path('app_shopList_home') }}">Ma liste</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="{{ path('app_logout') }}" class="dropdown-item" style="color:red">Déconnexion</a>
                                            {% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('easyadmin') }}" class="dropdown-item" style="color:green">Back-office</a>
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                        </nav>
                    </div>
                    {% elseif app.request.get('_route') == "home" %}}
                    <li>
                        <a href="{{ path('app_login') }}" data-toggle="modal" data-target="#exampleModal"
                            data-whatever="@mdo">Se connecter</a>
                    </li>

                    <li>
                        <a href="{{ path('new_user') }}" data-toggle="modal" data-target="#inscription"
                            data-whatever="@mdo">S'inscrire</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ path('app_login') }}">Se connecter</a>
                    </li>

                    <li>
                        <a href="{{ path('new_user') }}">S'inscrire</a>
                    </li>
                    {% endif %}
                    <!-- Social -->
                    <div class="social flex-w flex-l-m p-r-20">
                        <a href="https://www.facebook.com/frigogelatoartigianale/" class="fs-15 c-white"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/explore/tags/FRIGO/?hl=fr" class="fs-15 c-white"><i class="fa fa-instagram m-l-21" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/partagetonfrigo?lang=fr" class="fs-15 c-white"><i class="fa fa-twitter m-l-21" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {# Gestion de la class du main pour l'accueil #}
    {% if app.user %}
        <main class="container">
    {% else %}
        <main>
    {% endif %}
        {# Affichage des messages flash de l'application en fonction d'un label #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
            <div class="noprint container text-center m-3 alert alert-{{ label }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endfor %}
        {# Bloc Body à remplir dans les templates enfants #}
        {% block body %}{% endblock %}
    </main>
    <footer class="m noprint">
        <div class="end-footer bg2">
            <div class="container">
                <div class="flex-sb-m flex-w p-t-22 p-b-22">
                    <div class="p-t-5 p-b-5">
                        <a href="https://www.facebook.com/frigogelatoartigianale/" class="fs-15 c-white"><i
                                class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/explore/tags/FRIGO/?hl=fr" class="fs-15 c-white"><i
                                class="fa fa-instagram m-l-18" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/partagetonfrigo?lang=fr" class="fs-15 c-white"><i
                                class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
                    </div>
                    <div class="txt17 p-r-20 p-t-5 p-b-5">
                        Copyright &copy; 2019 All rights reserved | Made with <i class="fa fa-heart"></i> by <a
                            class="txt17" href="{{ path('secret_team_home') }}">Team frigomatic</a> - O'clock -
                        Quantum - Symfony
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {# SCRIPT #}
    {% block javascripts %}{% endblock %}
    {# Script JQuery #}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>

    {# Script BootStrap #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    {# Script Personnel #}
    <script src="{{ asset('assets/js/app.js') }}"></script>
</body>

</html>