{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mes recettes {% endblock %}

{% block body %}
<div class="container">
    <h1>Vos recettes favorites </h1>
    <div class="row">
        {% for recipe in app.user.favoriteRecipes %}
        <div class="col-3 mb-3 ">
            <div class="card" style="width: 17rem;">
                <img src="{{recipe.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="font-weight-bold">{{recipe.name}}</h5>
                    <p class="card-text"> Niveau de difficulté :{{ recipe.level }} </p>
                    <a href="{{ path('app_recipe_show', {'slug':recipe.slug}) }}" class="btn btn-success">Go !</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>
{% endblock %}
